<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated failuremodel -->
      <package
            uri="http://palladiosimulator.org/failurescenario/1.0"
            class="org.palladiosimulator.failuremodel.failurescenario.FailurescenarioPackage"
            genModel="model/failuremodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated failuremodel -->
      <package
            uri="http://palladiosimulator.org/failuretype/1.0"
            class="org.palladiosimulator.failuremodel.failuretype.FailuretypePackage"
            genModel="model/failuremodel.genmodel"/>
   </extension>

</plugin>
